
@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url('AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),  url('AvenirLTStd-Book.otf')  format('opentype'),
	     url('AvenirLTStd-Book.woff') format('woff'), url('AvenirLTStd-Book.ttf')  format('truetype'), url('AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
